nav {
    background-color: #cdb4db;
    font-family: "Sofia", sans-serif;
    font-size: 15px;
    /* text-shadow: 3px 3px 3px #ababab; */
    height: 30px;
    display: flex;
    top:0;
    left: 0;
    right:0;
    align-items: center; 
    justify-content: right; 
    gap: 20px;
    padding-right: 20px;
    position: fixed;
}

a:hover {
    background-color: #ffc8dd;
    border-radius: 5px;
}

nav a {
    text-decoration: none;
    color: black;
}
body {
    background-color: #bde0fe;
    margin: 0;  
    font-family: "Trirong", serif;  
}

.disc-container {
    display: flex;
    background-color: #a2d2ff;
    border: 1px solid #ddd; /* مرز برای نمایان‌تر شدن */  
    border-radius: 8px; /* گوشه‌های گرد */  
    margin: 20px;
}
.text {
    font-family: "Trirong", serif;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.image {
    padding-left: 20px;
    padding-right: 20px;
    /* width: 50%;
    height: 500px; */
}

h1 {
    padding-left: 20px;
}



.footer-container {
    background-color: #cdb4db;
    font-family: "Sofia", sans-serif;
    font-size: 15px;
    /* text-shadow: 3px 3px 3px #ababab; */
    height: 30px;
    display: flex;
    top:0;
    left: 0;
    right:0;
    align-items: center;  
    gap: 20px;
    width: 100%;
    
}

.row {  
    display: flex; /* فعال کردن Flexbox */  
    justify-content: space-between; /* تقسیم فضای خالی بین عناصر */  
    width: 100%; /* 100% عرض */  
    padding: 20px; /* فاصله داخلی */  
    box-sizing: border-box; /* شامل padding در اندازه گیری */  
}  

.houseplant {  
    flex: 1; /* هر عنصر به طور مساوی فضای موجود را پر می‌کند */  
    margin: 10px; /* فاصله بین عناصر */  
    border: 1px solid #ddd; /* مرز برای نمایان‌تر شدن */  
    border-radius: 8px; /* گوشه‌های گرد */  
    overflow: hidden; /* پنهان کردن قسمت‌های اضافی */  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* سایه داخلی */  
    background-color: #a2d2ff;
}  

.h-image img {  
    width: 100%; /* تصویر را به اندازه کامل عنصر می‌کند */  
    height: auto; /* حفظ نسبت ابعاد تصویر */  
}  

.h-text {  
    padding: 10px; /* فاصله داخلی برای محتوای متن */  
}

